.site-page-header {
  background-color: #121214 !important;
}

.site-page-header .ant-page-header-heading-title {
  color: #e1e1e6 !important;
}

.ant-tabs-tab-btn {
  color: #e1e1e6 !important;
  font-size: 2rem;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #e0004e !important;
}

.ant-tabs-ink-bar {
  background: #e0004e !important;
}
